<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ManageMachine2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>KhachHangServlet</display-name>
    <servlet-name>KhachHangServlet</servlet-name>
    <servlet-class>controller.KhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhachHangServlet</servlet-name>
    <url-pattern>/KhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MayServlet</display-name>
    <servlet-name>MayServlet</servlet-name>
    <servlet-class>controller.MayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MayServlet</servlet-name>
    <url-pattern>/MayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServicesServlet</display-name>
    <servlet-name>ServicesServlet</servlet-name>
    <servlet-class>controller.ServicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServicesServlet</servlet-name>
    <url-pattern>/ServicesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachMayServlet</display-name>
    <servlet-name>DanhSachMayServlet</servlet-name>
    <servlet-class>controller.DanhSachMayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachMayServlet</servlet-name>
    <url-pattern>/DanhSachMayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangNhapServlet</display-name>
    <servlet-name>DangNhapServlet</servlet-name>
    <servlet-class>controller.DangNhapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangNhapServlet</servlet-name>
    <url-pattern>/DangNhapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachKhachHangServlet</display-name>
    <servlet-name>DanhSachKhachHangServlet</servlet-name>
    <servlet-class>controller.DanhSachKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachKhachHangServlet</servlet-name>
    <url-pattern>/DanhSachKhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachDichVuServlet</display-name>
    <servlet-name>DanhSachDichVuServlet</servlet-name>
    <servlet-class>controller.DanhSachDichVuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachDichVuServlet</servlet-name>
    <url-pattern>/DanhSachDichVuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuDungDichVuServlet</display-name>
    <servlet-name>SuDungDichVuServlet</servlet-name>
    <servlet-class>controller.SuDungDichVuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuDungDichVuServlet</servlet-name>
    <url-pattern>/SuDungDichVuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanhSachTatCaServlet</display-name>
    <servlet-name>DanhSachTatCaServlet</servlet-name>
    <servlet-class>controller.DanhSachTatCaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanhSachTatCaServlet</servlet-name>
    <url-pattern>/DanhSachTatCaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuDungMayServlet</display-name>
    <servlet-name>SuDungMayServlet</servlet-name>
    <servlet-class>controller.SuDungMayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuDungMayServlet</servlet-name>
    <url-pattern>/SuDungMayServlet</url-pattern>
  </servlet-mapping>
</web-app>